name: Dependency Submission

on:
  push:
    branches: [ "**" ]

permissions:
  contents: write

jobs:
  submission:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/dependency-submission@v3
# Trigger
